.DNC {
    display: flex;
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.me {
    position: relative;
    top: 1rem;
    left: 1rem;
}

.me-caption {
    font-family: roboto;
    font-size: 0.8rem;
    color: rgb(196, 196, 196);
    font-style: italic;
    position: relative;
    top: 1rem; 
    left: 1rem;
}

.explanation {
    width: 80%;
    margin: 1rem auto 2rem;
}

.letter {
    border-left: solid rgb(208, 208, 117) 1px;
    border-bottom: solid yellow 1px;
    box-shadow: 1px 1px rgb(184, 183, 183);
    padding-bottom: 1rem;
    color: rgb(103, 99, 99);
    font-style: italic;
}

.hello {
    background-color: none;
    background: none;
    box-shadow: none;
    color: rgb(103, 99, 99);
    padding-top: 3rem;
    padding-left: 8rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.signoff {
    padding-left: 8rem;
    padding-bottom: 1.7rem;
    font-size: 1.45rem;
    font-weight: 250;
}